/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a nice background color */
body {
  background-color: #f0f0f0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center; /* Center the content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

code {
  font-family: 'source-code-pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: #f7f7f7;
  padding: 4px 8px;
  border-radius: 4px;
  color: #333;
  border: 1px solid #ccc;
}

/* Style headings */
h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 16px;
}

h2 {
  font-size: 1.5rem;
  color: #444;
  margin-top: 24px;
  margin-bottom: 16px;
}
